body {
    background-color: #005f92;
    color: #00c7ff;
    font-family: "myriad-pro", sans-serif;
    font-size: 14pt;
}

h1 {
    font-size: 40pt;
    font-weight: lighter;
    margin-top: 0.1in;
    margin-bottom: 0.1em;
}

h2 {
    font-size: 28pt;
    font-weight: lighter;
}

.hitType-btn {
	text-align: center;
}

.left {
	margin-left: 0.1in;
}

.resv-item {
    opacity: 1;
    background-color: #00c7ff;
    color: #005f92;
    margin: 0.7em 0.5em;
    padding: 0.4em;
    border-radius: 0.75em;
    -webkit-transition: background-color .75s ease-in, color .75s ease-in;
	-moz-transition: background-color .75s ease-in, color .75s ease-in;
	-o-transition: background-color .75s ease-in, color .75s ease-in;
	transition: background-color .75s ease-in, color .75s ease-in;
    max-height: 2em;
}

.X-hidden {
    background-color: red;
   	color: black;
}

.X-cell {
    white-space: nowrap;
    max-width: 25em;
    min-width: 25em;
    width: 25em;
    padding-right: 2em;
}