body {
    background-color: #005f92;
    color: #00c7ff;
    font-family: "myriad-pro", sans-serif;
    font-size: 14pt;
}

h1 {
    font-size: 40pt;
    font-weight: lighter;
    margin-top: 0;
    margin-bottom: 0.1em;
}

h2 {
    font-size: 28pt;
    font-weight: lighter;
}

ul {
    list-style: none;
}

.resv-item {
    opacity: 1;
    background-color: #00c7ff;
    color: #005f92;
    margin: 1em 0.5em;
    padding: 0.5em;
    border-radius: 0.75em;
    -webkit-transition: opacity .5s ease-in, max-height .5s ease-in;
    max-height: 2em;
}

.hidden {
    opacity: 0;
    max-height: 0px;
}

.cell {
    white-space: nowrap;
    max-width: 25em;
    min-width: 25em;
    width: 25em;
    padding-right: 2em;
}